{% extends 'base.html' %}

{% block content %}
  <!-- list of to dos section -->
  <section class="todo-list">
    <div class="container-fluid">

      <div class="row">

          <h2>{{category_name}}</h2>
          {% for todo in todo_list %}
            {% if not todo.completed %}
              <div class="col-8">
                <a data-bs-toggle="collapse" href="#task{{todo.id}}" role="button" aria-expanded="false" aria-controls="task{{todo.id}}">
                  {{todo.task}}</a>
              </div>

              <div class="col-2">
                {% if get_deadline(todo.date) == 'Failed'%}
                <p class="deadline"><b>{{get_deadline(todo.date)}}</b></p>
                {% else %}
                <p class="deadline">{{get_deadline(todo.date)}}</p>
                {% endif %}
              </div>

        <div class="col-1 icon-links">
                <a class="but-link" href="{{url_for('service.completed', id=todo.id, category=category_name)}}"><i class="fas fa-check"></i></a>
        </div>
        <div class="col-1 icon-links">
          <a class="but-link" href="{{url_for('service.delete', id=todo.id, category=category_name)}}"><i class="fas fa-trash-alt"></i></a>
        </div>

            {% endif %}
          {% endfor %}
        </div>

      </div>

  </section>
  <!-- completed section -->
  <section class="completed">
    <div class="container-fluid">

      <div class="open-completed">
        <a data-bs-toggle="collapse" href="#collapseCompleted" role="button" aria-expanded="false" aria-controls="collapseCompleted">
          Show completed</a>
      </div>
      <div class="collapse" id="collapseCompleted">
      <div class="row">
              {% for todo in todo_list %}
                {% if todo.completed %}
              <div class="col-10 completed-text">
                <p><del>{{todo.task}}</del></p>
              </div>
              <div class="col-2 icon-links">
                <a class="but-link" href="{{url_for('service.undo', id=todo.id, category=category_name)}}"><i class="fas fa-undo"></i></a>
                <a class="but-link" href="{{url_for('service.delete', id=todo.id, category=category_name)}}"><i class="fas fa-trash-alt"></i></a>
              </div>
                {% endif %}
              {% endfor %}

        </div>
      </div>
    </div>
  </section>
{% endblock %}
