{% extends 'base.html' %}

{% block content %}}
  <!-- list of to dos section -->
  <section class="card-list">
    <div class="container-fluid">
        <h2>Commands</h2>

        <h3>Main</h3>
        <p>Navigate to main menu</p>


        <h3>Rename {value1} To {value2}</h3>
        <p>Allows to rename category to new one</p>

        <h3>Create {cat_name} Add {task1},{task2}</h3>
        <p>Allows to create category and add tasks by using one command</p>

        <h3>{task} By {tomorrow}</h3>
        <p>By command allows to add deadlines</p>
        <p>By </p>


      </div>
    </div>


  </section>
{% endblock %}