<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TODO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
 
  </head>
  <body>
    <!-- add item section -->
    <section class="add-item">

      <div class='container-fluid'>
      <form method="post" action="{{url_for('terminal')}}" autocomplete="off">
        <div class="input-group-lg">
          <input type='text' class="form-control todo-input" placeholder="To do..." name="add" autocomplete="off" autofocus>
        </div>
      </form>
      </div>
    </section>
  
  <!-- list of to dos section -->
  <section class="card-list">
    <div class="container-fluid">

      <div class="row">

        {% for category in categories %}
        <div class="col-xl-4 col-lg-6 col-md-12">
          <div class="card text-dark bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title">{{category.category}}</h5>
              {% if data[category.category]['today'] > 0 %}
              <p class="card-text"><i class="bi bi-brightness-low"></i> {{data[category.category]['today']}} by today</p>
              {% else %}
              <p class="card-text"><i class="bi bi-brightness-low"></i> Good Job</p>
              {% endif %}
              {% if data[category.category]['tomorrow'] > 0 %}
              <p class="card-text"><i class="bi bi-calendar"></i> {{data[category.category]['tomorrow']}} for tomorrow</p>
              {% else %}
              <p><i class="bi bi-calendar2-x"></i> {{data[category.category]['ordinary']}} optional</p>
              {% endif %}
              <div class="row">
                <div class="col-6">
                  <p class="card-text"><i class="bi bi-check2-square"></i> {{data[category.category]['completed']}} / {{data[category.category]['tasks']}}</p>
                </div>
                <div class="col-6">
                  <p><i class="bi bi-alarm"> {{data[category.category]['expired']}}</i> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>


  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>