{% extends 'base.html' %}

{% block content %}
  <!-- list of to dos section -->
  <section class="todo-list">
    <div class="container-fluid">

      <div class="row">
<!--        running for loop to display every category name  from to do list-->
          <h2>{{category_name}}</h2>
<!--        running another for loop to get every task associated with this category-->
          {% for date in dates%}
            <h3>{{get_deadline(date.date)}}</h3>
<!--        checking if task marked as completed or not. If not completed it will be displayed in non completed category-->
<!--        todo.completed is an orm object of db-->
            {% for todo in todo_list %}
                {% if not todo.completed and todo.date == date.date %}
                <div class="col-10">
                    <p>{{todo.task}}</p>
                </div>

<!--              <div class="col-2">-->
<!--                <p>Today</p>-->
<!--              </div>-->

        <div class="col-1 icon-links">
<!--          creating two buttons as link with url unique to task, id value from db.-->
<!--          tasks id will be received by using args.get in python-->
                <a class="but-link" href="{{url_for('service.completed', id=todo.id)}}"><i class="fas fa-check"></i></a>
              </div>
          <div class="col-1 icon-links">
                <a class="but-link" href="{{url_for('service.delete', id=todo.id)}}"><i class="fas fa-trash-alt"></i></a>
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </div>

      </div>

  </section>
  <!-- completed section -->
  <section class="completed">
    <div class="container-fluid">
      
      <div class="open-completed">
        <a data-bs-toggle="collapse" href="#collapseCompleted" role="button" aria-expanded="false" aria-controls="collapseCompleted">
          Show completed</a>
      </div>
      <div class="collapse" id="collapseCompleted">
      <div class="row">
<!--        todo make h2 appear only if we have completed task in category !-->
          {% for task in todo_list %}
            {% if task.completed %}
<!--              {%if loop.index == 1%}-->
<!--        <h2>{{category}}</h2>-->
<!--        {% endif %}-->
              <div class="col-10 completed-text">
                <p><del>{{task.task}}</del></p>
              </div>
              <div class="col-2 icon-links">
                <a class="but-link" href="{{url_for('service.undo', id=task.id)}}"><i class="fas fa-undo"></i></a>
                <a class="but-link" href="{{url_for('service.delete', id=task.id)}}"><i class="fas fa-trash-alt"></i></a>
              </div>
            {% endif %}
          {% endfor %}


        </div>
      </div>
    </div>
  </section>
  {% endblock %}